<!-- Answer template -->
<div class="container border border-2 rounded-3 p-3 my-3">
    <div class="row align-items-center my-2">
        <!-- Column for avatar -->
        <div class="col-2">
            <img src="{{answer.img}}" class="rounded-3" style="width: 100px;" alt="Avatar" />
        </div>
        <!-- Column for answer -->
        <div class="col-10">
            <div class="d-flex flex-column justify-content-start align-items-start">
                <p class="text-secondary fs-5 text-break">
                    {{answer.answer}}
                </p>
            </div>
        </div>
    </div>
    <!-- New line -->
    <div class="row align-items-center">
        <!-- Column for likes -->
        <div class="col-2">
            <input value="{{answer.likes_num}}" min="0" type="number" id="typeNumber" class="form-control counter"/>
        </div>
        <!-- Column for check if the answer correct or not -->
        <div class="col-10">
            <div class="d-flex justify-content-start align-items-center">
                  <div class="form-check mx-1">
                    <input class="form-check-input fs-5 text-secondary" type="checkbox" value="" id="flexCheckChecked" {{answer.correct}}>
                    <label class="form-check-label fs-5 text-secondary" for="flexCheckChecked">
                        Correct!
                    </label>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- End of answer template -->
