<div class="row align-items-center">
    <!-- Column for avatar -->
    <div class="col-2 my-1">
        <img src="https://klike.net/uploads/posts/2023-01/1674365337_3-31.jpg" class="rounded-3" style="width: 100px;" alt="Avatar" />
    </div>
    <!-- Column for question -->
    <div class="col-10">
        <div class="d-flex flex-column justify-content-start align-items-start">
            <a class="link-offset-2 fs-3" href="{% url 'question' question.id %}">{{question.title}}</a>
            <p class="fs-5 text-secondary text-break">
                {{question.description}}
            </p>
        </div>
    </div>
</div>
<!-- End of question template -->
