{% extends "base.html" %}

<!-- block for unauthorized user -->
{% block user_status %}
<a class="link-offset-2 fs-5" href="#">log in</a>
<a class="link-offset-2 fs-5 mx-3" href="#">register</a>
{% endblock user_status %}

{% block content %}
<div class="col-9 my-4">
    <!-- Title of the page -->
    <div class="d-flex justify-content-start align-items-center">
        <h2 class="text-secondary">New Question</h2>
    </div>
    <!-- Block for error -->
    <div class="d-flex justify-content-start align-items-center">
        <p class="text-danger">Error! Wrong question format!</p>
    </div>
    <!-- Ask question template -->
    <div class="container p-3 my-3">
        <div class="row align-items-center">
            <!-- Column for label -->
            <div class="col-1 px-0">
                <label for="title" class="text-secondary fs-4 my-0">Title</label>
            </div>
            <!-- Column for input title -->
            <div class="col-11">
                <form class="form-horizontal" action="" method="POST" role="form" name="" id="">
                    <div class="form-group">
                        <input id="title" type="text"  class="form-control text-secondary" placeholder="Input title of your question...">
                    </div>
                </form>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-1 px-0">
                <label for="description" class="text-secondary fs-4">Text</label>
            </div>
            <!-- Column for input question -->
            <div class="col-11">
                <textarea id="description" class="form-control text-secondary" rows="8" placeholder="Input text of your question..."></textarea>
            </div>
        </div>
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Column for label -->
            <div class="col-1 px-0">
                <label for="tags" class="text-secondary fs-4 my-0">Tags</label>
            </div>
            <!-- Columnt for input tags -->
            <div class="col-11">
                <div class="col-sm-10">
                    <input id="tags"  class="form-control text-secondary" placeholder="Input tags...">
                </div>
            </div>
        </div>
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Empty column -->
            <div class="col-1 px-0">
                <p></p>
            </div>
            <!-- Column for button ask -->
            <div class="col-11 my-5">
                <button type="button" class="btn btn-outline-success px-5">ASK!</button>
            </div>
        </div>
    </div>
    <!-- End of ask question template -->
</div>
{% endblock content %}
