{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" media="screen"/>
    </head>
    <body>
        <!-- Header container-->
        <div class="container bg-light py-3 border-bottom border-2">
            <!-- Content header container -->
            <div class="row align-items-center">
                <!-- Two cols for logo -->
                <div class="col-2">
                    <h1 class="text-secondary">AskPupkin</h1>
                </div>
                <!-- Seven cols for search input -->
                <div class="col-7">
                    <div class="input-group">
                        <input class="form-control me-1 fs-5" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success fs-5" type="submit">ASK!</button>
                    </div>
                </div>
                <!-- Three cols for avatar and buttons-->
                <div class="col-3 d-flex justify-content-start align-items-center">
                    <!-- block for authorized user or not -->
                    {% block user_status %}
                    {% endblock %}
                    <!-- endblock for authorized user or not -->
                </div>
            </div>
            <!-- End of content header container -->
        </div>
        <!-- End of header container -->
        <!-- Main content container -->
        <div class="container">
            <div class="row">
                <!-- block for main content of each page -->
                {% block content %}
                {% endblock %}
                <!-- endblock for main content of each page -->
                <!-- Aside block -->
                <div class="col-3">
                    <!-- Block of popular tags -->
                    <div class="my-5">
                        <h2 class="text-secondary">Popular Tags</h2>
                        <p class="text-break fs-5">
                            <a class="tag" href="#">perl</a>
                            <a class="tag link-danger" href="#">python</a>
                            <a class="tag link-info" href="#">TechnoPark</a>
                            <a class="tag link-danger" href="#">MySQL</a>
                            <a class="tag link-success" href="#">Django</a>
                            <a class="tag" href="#">Mail.Ru</a>
                            <a class="tag link-info" href="#">Voloshin</a>
                            <a class="tag link-warning" href="#">Firefox</a>
                        </p>
                    </div>
                    <!-- End of block of popular tags -->
                    <!-- Block of best members -->
                    <div class="my-4">
                        <h2 class="text-secondary">Best Members</h2>
                        <p class="my-3 fs-5"><a href="#">Mr. Freeman</a></p>
                        <p class="my-3 fs-5"><a href="#">Dr. House</a></p>
                        <p class="my-3 fs-5"><a href="#">Bender</a></p>
                        <p class="my-3 fs-5"><a href="#">Queen Victoria</a></p>
                        <p class="my-3 fs-5"><a href="#">V. Pupkin</a></p>
                    </div>
                    <!-- End block of best members -->
                </div>
            </div>
        </div>
        <!-- End of main content container -->
    </body>
</html>