{% extends "layouts/base.html" %}

<!-- block for unauthorized user -->
{% block user_status %}
<a class="link-offset-2 fs-5" href="#">log in</a>
<a class="link-offset-2 fs-5 mx-3" href="#">register</a>
{% endblock user_status %}

{% block content %}
<div class="col-9">
    <!-- Full question template -->
    <div class="container p-3 border-bottom border-2">
        {% include 'components/question-item.html' %}
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Column for likes -->
            <div class="col-2">
                <input value="{{question.likes_num}}" min="0" type="number" id="typeNumber" class="form-control counter" />
            </div>
            <!-- Column for tags and answers -->
            <div class="col-10">
                <div class="d-flex justify-content-start align-items-center">
                    <div>
                        <span class="fs-5 text-secondary">Tags: </span>
                        {% for tag in question.tags %}
                            <a class="link-offset-2 fs-5 mx-1" href="{% url 'tag' tag %}">{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of question template -->
    <!-- Answer template -->
    {% if answers %}
        {% for answer in answers %}
            {% include 'components/answer-item.html' %}
        {% endfor %}
        <!-- End of answer template -->
        <div class="row align-items-center">
            <!-- Pagination for iterating all answers -->
            <nav>
                <ul class="pagination justify-content-start my-4">
                    {% if answers.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ answers.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-disabled="true">Previous</a>
                        </li>
                    {% endif %}

                    {% for i in answers.paginator.page_range %}
                        {% if answers.number == i %}
                            <li class="page-item active"><a class="page-link">{{i}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if answers.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ answers.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-disabled="true">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- End of pagination -->
        </div>
    {% else %}
        <div class="row align-items-center">
            <p class="text-secondary h3">There are no answers yet. Be the first!</a>
        </div>
    {% endif %}
    <!-- Answer input -->
    <div class="container border-top border-2 p-3 px-0">
        <!-- Block for error -->
        <div class="d-flex justify-content-start align-items-center">
            <p class="text-danger">Error! Wrong answer format!</p>
        </div>
        <textarea class="form-control text-secondary border-2" rows="4" placeholder="Enter your answer here."></textarea>
    </div>
    <!-- End of answer input -->
    <!-- Input for answer button -->
    <div class="container px-0">
        <button type="button" class="btn btn-outline-success px-5 my-1">Answer</button>
    </div>
</div>
{% endblock content %}

