{% extends "layouts/base.html" %}

{% block user_status %}
<img src="https://klike.net/uploads/posts/2023-01/1674365337_3-31.jpg" class="rounded-3" style="width: 80px;" alt="Avatar" />
<div class="d-flex flex-column mx-4">
    <p class="fs-3 my-1 text-secondary">Dr. Pepper</p>
    <div class="mt-1">
        <a class="link-offset-2 fs-5" href="#">settings</a>
        <a class="link-offset-2 fs-5 mx-3" href="#">log out</a>
    </div>
</div>
{% endblock user_status %}

{% block content %}
<div class="col-9 my-4">
    <!-- Title of the page -->
    <div class="d-flex justify-content-start align-items-center">
        <h2 class="text-secondary">Settings: </h2>
        <h2 class="text-secondary mx-3">Dr. Pepper</h2>
    </div>
    <!-- Block for errors -->
    <div class="d-flex justify-content-start align-items-center">
        <p class="text-danger">Error! Wrong picture format!</p>
    </div>
    <!-- Settings template -->
    <div class="container p-3 my-3">
        <div class="row align-items-center">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="loginName" class="text-secondary fs-5 my-0">Login</label>
            </div>
            <!-- Column for input login -->
            <div class="col-10">
                <div class="form-group">
                    <input type="email" id="loginName" name="loginName" class="form-control" placeholder="Input your login..." />
                </div>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="email" class="text-secondary fs-5">Email</label>
            </div>
            <!-- Column for input email -->
            <div class="col-10">
                <input id="email" type="email" class="form-control" placeholder="Input your email..."/>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="nickname" class="text-secondary fs-5">NickName</label>
            </div>
            <!-- Column for input nickname -->
            <div class="col-10">
                <input id="nickname" type="text" class="form-control" placeholder="Input your nickname..."/>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="avatar" class="text-secondary fs-5">Upload avatar</label>
            </div>
            <!-- Column for image -->
            <div class="col-10">
                <img src="https://klike.net/uploads/posts/2023-01/1674365337_3-31.jpg" class="rounded-3" style="width: 100px;" alt="Avatar" />
            </div>
        </div>
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Empty column -->
            <div class="col-2 px-0">
                <p></p>
            </div>
            <!-- Column for input image -->
            <div class="col-10">
                <input type="file" class="form-control text-secondary" id="avatar" placeholder="Choose your avatar"/>
            </div>
        </div>
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Empty column -->
            <div class="col-2 px-0">
                <p></p>
            </div>
            <!-- Column for save button -->
            <div class="col-10">
                <button type="button" class="btn btn-outline-success px-5 my-4">Save</button>
            </div>
        </div>
    </div>
    <!-- End of settings template -->
</div>
{% endblock content %}