{% extends "base.html" %}

<!-- block for unauthorized user -->
{% block user_status %}
<a class="link-offset-2 fs-5" href="#">log in</a>
<a class="link-offset-2 fs-5 mx-3" href="#">register</a>
{% endblock user_status %}

{% block content %}
<div class="col-9 my-4">
    <!-- Title of the page -->
    <div class="d-flex justify-content-start align-items-center">
        <h2 class="text-secondary">Registration</h2>
    </div>
        <!-- Block for errors -->
    <div class="d-flex justify-content-start align-items-center">
        <p class="text-danger">Sorry, this email address already registered!</p>
    </div>
    <!-- Registration template -->
    <div class="container p-3 my-3">
        <div class="row align-items-center">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="loginName" class="text-secondary fs-5 my-0">Login</label>
            </div>
            <!-- Column for input login -->
            <div class="col-10">
                <form class="form-horizontal" action="" method="POST" role="form" name="" id="">
                    <div class="form-group">
                        <input type="email" id="loginName" class="form-control" placeholder="Input your login..." />
                    </div>
                </form>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="email" class="text-secondary fs-5">Email</label>
            </div>
            <!-- Column for input email -->
            <div class="col-10">
                <input id="email" type="email" class="form-control" placeholder="Input your email..."/>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="nickname" class="text-secondary fs-5">NickName</label>
            </div>
            <!-- Column for input nickname -->
            <div class="col-10">
                <input id="nickname" type="text" class="form-control" placeholder="Input your nickname..."/>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Colum for label -->
            <div class="col-2 px-0">
                <label for="password" class="text-secondary fs-5">Password</label>
            </div>
            <!-- Column for input password -->
            <div class="col-10">
                <input id="password" type="password" class="form-control" placeholder="Input your password..."/>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="password2" class="text-secondary fs-5">Repeat password</label>
            </div>
            <!-- Column for intup to repeat the password -->
            <div class="col-10">
                <input id="password2" type="password" class="form-control" placeholder="Repeat your password..."/>
            </div>
        </div>
        <!-- New line -->
        <div class="row my-4">
            <!-- Column for label -->
            <div class="col-2 px-0">
                <label for="avatar" class="text-secondary fs-5">Upload avatar</label>
            </div>
            <!-- Column for uploading avatar -->
            <div class="col-10">
                <input type="file" class="form-control text-secondary" id="avatar" placeholder="Choose your avatar"/>
            </div>
        </div>
        <!-- New line -->
        <div class="row align-items-center">
            <!-- Empty column -->
            <div class="col-2 px-0">
                <p></p>
            </div>
            <!-- Column for register button -->
            <div class="col-10">
                <button type="button" class="btn btn-outline-success px-5">Register!</button>
            </div>
        </div>
    </div>
    <!-- End of registration template -->
</div>
{% endblock content %}